################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto Arias Guillen Vergara.slnx
/Proyecto.07122a6e/x64/Debug
